@import "../../../style-config/variable.scss";

.telephone-icon{
    width:30px;
    height: 30px;
    background:#666;
    border-radius:41px;
    display : flex;
    align-items:center;
    justify-content: center;

   
    
    
}