@import "../../../style-config/variable.scss";

.location-icon{
    width:30px;
    height: 30px;
    // background:#33383b;
    border-radius:41px;
    display : flex;
    align-items:center;
    justify-content: center;

   
    
    
}