@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mulish;
}
.navbar {
  background-color: #fff;
  font-weight: bold;
 
}
.navbar-brand  {
  font-size: 2rem !important ;
 
  color : #ff0000 !important;

  font-weight: bold;
}
.navbar li{
  font-size: 1.9 rem !important;
  text-transform: capitalize;
}
.nav-link{
  font-size: 1.4rem !important;
  text-transform: capitalize;
 
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387
}
.navbar a:hover {
  color: #3498db !important;
}
.logo-brand{
  height:400px
}



#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px
}
#header h1 {
  margin: 0 0 10px 0;
  font-size:48px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color :#3498db
}
#header h2 {
  color :#484848;
  font-size: 24px
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing:1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  background-color: #3498db;
  color:white;
  /* color: #3498db; */
  border: 2px solid #3498db;
  text-decoration : none;
}
#header .btn-know-more {
  font-weight: 500;
  font-size: 16px;
  letter-spacing:1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
 
  color:black;
  font-weight:400 ;
 
  border: 2px solid #3498db;
  text-decoration : none;
}
#header .btn-get-started:hover {
  background: #cdd8e0;
  color: #fff;
}
.slick-slide { height: 500px !important; }

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;

}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px)
  }
  100% {
    transfor: translateY(-10px);
  }

}
@keyframes up-down {
  0% {
    transform: translateY(10px)
  }
  100% {
    transfor: translateY(-10px);
  }

}
.carosel-height{
  height:80vh;
}
.carosel-img{
    width: 100%;
    height: 80vh;
    max-width: 100%;
}

.my-3{
  margin-left :20px;
}

.footer{
  margin-top: 4%;
  width:100% ;
  height:20vh;
  background:red;
  border-top:2px solid red !important;
  font-size:x-large;
}

/* Carousel react-responsive-carosel */
.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 500px;  /* change this to whatever you want */
  width: 95%;
}


/* Home bottom  left to right image  */
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  text-align: center;
}
.cp-image 
{
  height:500px
}
.how-img img{
  width: 40%;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
